<a href="https://colab.research.google.com/github/ancarvalho/Codenation_AceleraDEV/blob/test/week_2/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("https://raw.githubusercontent.com/ancarvalho/Codenation_AceleraDEV/test/week_2/black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head(10)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969
5  1000003  P00193542      M  ...                2.0                 NaN    15227
6  1000004  P00184942      M  ...                8.0                17.0    19215
7  1000004  P00346142      M  ...               15.0                 NaN    15854
8  1000004   P0097242      M  ...               16.0                 NaN    15686
9  1000005  P00274942      M  ...                NaN                 NaN     7871

[10 rows x 12 columns]

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
  return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
def q2():
  return len(black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')])

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [4]:
def q3():
  #len(black_friday['User_ID'].unique())
  return black_friday['User_ID'].nunique()
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [5]:
def q4():
  #len(black_friday.dtypes.unique())
  return black_friday.dtypes.nunique()
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [25]:
def q5():
  return black_friday.isnull().any(axis=1).value_counts(normalize=True)[True]
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [17]:
def q6():
    return black_friday.isnull().sum().sort_values(ascending=False)[0]
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [13]:
def q7():
  return black_friday['Product_Category_3'].value_counts(ascending=False).index[0]
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
def q8():
  norm = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())
  return norm.mean()
q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
def q9():
  padr = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / (black_friday['Purchase'].std())
  return len(padr[(padr >= -1) & (padr <= 1)])
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
def q10():
  p2 = black_friday['Product_Category_2'][black_friday['Product_Category_2'].isnull()]
  p3 = black_friday['Product_Category_3'][black_friday['Product_Category_3'].isnull()]
  return p3.isin(p2).value_counts().index[0]
q10()

True